<div class="container">
    <h2 id="header" class="text-center mt-4 mb-4">Excel Dosyasını Yükleyiniz</h2>
    <div class="card">
        <input type="text" id="InputID" onkeyup="Search" placeholder="Search by ID..">
    </div>
    <div class="card">
        <div class="card-header">
            <b id="cardHeader">Dosya Seçiniz ...</b>
        </div>
        <div class="card-body">
            <input type="file" id="excel_file"/>
            <b id="excel_name"></b>
        </div>
    </div>
    <div id="excel_data" class="mt-5"></div>
</div>
